
  $azulP: #0a2957;
  $blanco: white;
  $blacooff: #dddddd;
  $negro:black;
  $azulS: #6678b6;
  $azulC: #00c9fc;
  $azultxt: #c3eafa;

  $PaletaColores:(
    primario:#0a2957,
    secundario: #6678b6,
    blanco: #fff,
    negro: #000,
  );
  
  

